header {
    background-color: #CCCCCC;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
    color: #c78c19;
}

#itens {
    width: 940px;
    margin: auto;
    padding: 50px 0;
}

#itens li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
}

#itens li:hover {
    color: #c78c19;
    border-color: #c78c19;
    font-size: 25px;
}

#itens li:active {
    border-color: #CCCCCC;
}

#itens h2 {
    font-weight: bold;

}

.descr {
    font-size: 20px;
    margin-bottom: 15px;
}

.preco {
    font-weight: bold;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0px;
}

footer p {
    color: white;
    font-size: 13px;
    margin: 20px;
}

.link {
    color: white;
}

.link:hover{
    color: #c78c19;
}


