@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

p{
    text-align: center;
    text-indent: 40px;
}

.missao{
    font-size: 25px;
}

em strong {
    color: rgb(247, 64, 64);
    text-shadow: 1px 1px 1px black;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}

.imagem-beneficios {
    width: 50%;
}